<?xml version="1.0"?>
<config>
  <modules>
    <Naviz_Dummy>
      <version>0.1.0</version>
    </Naviz_Dummy>
  </modules>
  <frontend>
    <routers>
      <dummy>
        <use>standard</use>
          <args>
            <module>Naviz_Dummy</module>
            <frontName>dummy</frontName>
          </args>
      </dummy>
    </routers>
		<layout>
		  <updates>
			<dummy>
			  <file>dummy.xml</file>
			</dummy>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <dummy>
        <class>Naviz_Dummy_Helper</class>
      </dummy>
    </helpers>
	<blocks>
	  <dummy>
		<class>Naviz_Dummy_Block</class>
	  </dummy>
	</blocks>
	<models>
	  <dummy>
		<class>Naviz_Dummy_Model</class>
		<resourceModel>dummy_mysql4</resourceModel>
	  </dummy>
	  <dummy_mysql4>
		<class>Naviz_Dummy_Model_Mysql4</class>
		<entities>		  
			  <dummy>
				<table>dummy</table>
			  </dummy>
        </entities>
	  </dummy_mysql4>
	</models>
	<resources>
	  <dummy_setup>
		<setup>
		  <module>Naviz_Dummy</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </dummy_setup>
	  <dummy_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </dummy_write>
	  <dummy_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </dummy_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <dummy>
	    <use>admin</use>
		<args>
		  <module>Naviz_Dummy</module>
		  <frontName>admin_dummy</frontName>
		</args>
	  </dummy>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <dummy module="dummy">
		<title>Dummy</title>
		<sort_order>100</sort_order>
		<children>
		  <dummy module="dummy">
		    <title>Manage Dummy</title>
			<sort_order>0</sort_order>
			<action>admin_dummy/adminhtml_dummy</action>
		  </dummy>
		</children>
	  </dummy>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<dummy translate="title" module="dummy">
			  <title>Dummy</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <dummy translate="title">
			<title>Manage Dummy</title>
			<sort_order>0</sort_order>
		  </dummy>
			  </children>
			</dummy>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<dummy>
		  <file>dummy.xml</file>
		</dummy>
	  </updates>
	</layout>
  </adminhtml>
</config> 